# Ignore virtual environment
venv/

# Ignore archive folders
Code/base/archive/
Code/ui/archive/

# Ignore Risky Clauses folder
Data/Risky Clauses/Rental/New York/Clauses/risky_clauses - new.pkl
Data/Risky Clauses/Rental/New York/Clauses/risky_clauses.pkl
Data/Risky Clauses/Rental/New York/risky_clauses.pkl